##
## See https://goteleport.com/docs/reference/config/
##

# Configuration file version
version: v3

teleport:
  proxy_server: <%= @teleport_addr %>
  join_params:
    method: token
    token_name: <%= @token_name %>
  ca_pin: <%= @ca_pin %>
  advertise_ip: <%= @node_name %>
  log:
    output: stdout
    severity: <%= @log_severity %>
    format:
      output: json

ssh_service:
  enabled: true
  # Enhanced Session Recording requires Linux kernel 5.8 or above with BPF enabled
  # See https://goteleport.com/docs/server-access/guides/bpf-session-recording/
  enhanced_recording:
    enabled: <%= @enhanced_recording %>
  # Enable remote file operations via SCP/SFTP for this node
  ssh_file_copy: true
  labels:
    type: server
    environment: <%= @environment %>
    service: <%= @service %>
  commands:
    # Adds hostname label
    - name: hostname
      command: ['/bin/hostname']
      period: 1h
    # Adds fqdn label
    - name: fqdn
      command: ['/bin/hostname', '-f']
      period: 1h
    # Adds arch label
    - name: arch
      command:  ['/bin/uname', '-p']
      period: 1h
    # Adds kernel label
    - name: kernel
      command:  ['/bin/uname', '-r']
      period: 1h

proxy_service:
  enabled: false

auth_service:
  enabled: false

kubernetes_service:
  enabled: false

app_service:
  enabled: false

db_service:
  enabled: false

discovery_service:
  enabled: false

windows_desktop_service:
  enabled: false
